<!-- Loop through all of the post objects that have been filtered, see "views.py"
by date less than or equal to the current time (__lte). -->
{% extends 'blog/base.html' %} <!-- Use the template base.html -->

{% block content %}
  {% for post in posts %} <!-- to allow html to understand python, use these curly brackets with percent symbols bracketing the code -->
      <div class="post">
          <p class="time">Published: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p class="post_text">{{ post.text|linebreaksbr }}</p>
      </div>
      <hr>
  {% endfor %}
{% endblock %}
