@import url('https://fonts.googleapis.com/css?family=Roboto');

html, *{
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
}

.flexbox {
  display: flex;
  flex-direction: row;
  background-color: rgb(100,100,0);
}
